/* card.css */
/* font-face */
@font-face{
  font-family:'consolas';
  src:url('fonts/consola.ttf') format('truetype');
  src:local('Consolas'), url('fonts/consola.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI Lite';
  src:url('fonts/segoeuil.ttf');
  src:url('fonts/segoeuil.ttf') format('truetype');
}
@font-face{
  font-family:'Neuropol';
  src:url('fonts/neuropol.ttf');
  src:url('fonts/neuropol.ttf') format('truetype');
}
@font-face{
  font-family:'arialnarrow';
  src:url('fonts/arialnarrow.ttf');
  src:url('fonts/arialnarrow.ttf') format('truetype');
}
@font-face{
  font-family:'Traditional Arabic';
  src:url('fonts/trado.ttf');
  src:url('fonts/trado.ttf') format('truetype');
}
@font-face{font-family:'Tahoma';src:url('fonts/tahoma.ttf');}
@font-face{font-family:'Felbridge';src:url('fonts/felbridge.ttf');}
@font-face{font-family:'Tempus';src:url('fonts/tempus.ttf');}
@font-face{font-family:'arabic';src:url('fonts/trado.ttf');}



/* reset */
*,*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  font-family:'Segoe UI Lite',Tahoma,Sans-Serif,'consolas',monospace;
  outline:none;
}

body{
  margin:0px auto;
  padding:3px 3px;
  display:block;
  background-color:#fff;
  position:relative;
  text-align:center;
}

textarea{
  width:100%;
  height:200px;
  font-family:monospace;
}

.card{
  display:inline-block;
  position:relative;
  /*
  width:165px;
  height:270px;
  5.5 x 9 cm = 208 x 340 pixel
  */
  width:204px;
  height:321px;
  aspect-ratio:5.4 / 8.5;
  vertical-align:top;
  /*
  background-color:#309695;
  box-shadow:inset 0px 0px 321px 321px #309695;
  */
  background-color:#055;
  box-shadow:inset 0px 0px 321px 321px #177;
  color:#fff;
  font-weight:bold;
  font-size:16px;
  padding:20px;
  margin:0px 2px 2px 0px;
}
.card-dark{
  background-color:#2b2b2b;
  box-shadow:inset 0px 0px 321px 321px #2b2b2b;
}
.presence{
  display:inline-block;
  position:relative;
  /*
  width:165px;
  height:270px;
  5.5 x 9 cm = 208 x 340 pixel
  */
  width:204px;
  height:321px;
  aspect-ratio:5.4 / 8.5;
  vertical-align:top;
  background-color:#fff;
  box-shadow:inset 0px 0px 321px 321px #fff;
  color:#fff;
  font-weight:bold;
  font-size:16px;
  padding:20px;
  margin:0px 1px 1px 0px;
  border:1px solid #ddd;
}
.header{
  /* width:125px; */
  width:164px;
  margin:0px 0px 10px;
  padding:0px;
  overflow:hidden;
}
.presence .header{
  filter:grayscale(90%);
}
.card-dark .header{
  filter:grayscale(90%);
}
.qrcode{
  /*
  width:125px;
  height:125px;
  */
  width:164px;
  height:164px;
  padding:10px;
  margin:0px;
  border:0px none;
  box-shadow:inset 0px 0px 9px #333;
  background-color:#fff;
}
.name{
  text-align:center;
  padding:0px;
  margin:10px 0px 10px;
  /* font-size:10px; */
  font-size:12px;
  font-weight:bold;
  color:#fff;
}
.nis{
  text-align:center;
  padding:0px;
  margin:0px;
  font-size:12px;
  font-weight:bold;
  color:#fff;
}
.ibg{
  width:50px;
  position:absolute;
  top:290px;
  left:140px;
  opacity:0.1;
  transform:rotate(340deg);
}
.presence .name,
.presence .nis{
  color:#333;
}

.term{
  display:inline-block;
  position:relative;
  /*
  width:165px;
  height:270px;
  5.5 x 9 cm = 208 x 340 pixel
  */
  width:204px;
  height:321px;
  aspect-ratio:5.4 / 8.5;
  vertical-align:top;
  background-color:#fff;
  box-shadow:inset 0px 0px 321px 321px #fff;
  color:#333;
  font-size:10px;
  padding:10px;
  margin:0px 1px 1px 0px;
  border:1px solid #bbb;
  overflow:hidden;
}
.term ol{
  padding:0px;
  margin:0px;
}
.term ol li{
  margin-left:10px;
}

@media print{
  .name,
  .nis{
    font-size:12px;
    font-weight:bold;
    color:transparent;
    text-shadow:0px 0px 0px #fff;
  }
}




@page  {
  margin: 20px;
  size: letter; /*or width then height 150mm 50mm*/
}


